# ROS 2 workspaces
mdp_ws/build/
mdp_ws/install/
mdp_ws/log/

# Cmake files
CMakeFiles/

# Python artifacts
__pycache__/
*.pyc
*.pyo

# Mamba/Conda
.mamba/
.conda/

# Trained model files and weights
# *.onnx
# *.pt